#common
**/*.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
out/

gmail.py

#COLLAB
data/COLLAB/*
dataset/

#WikiCS
data/WikiCS/*.json

# Others
*.out
*.err
*.json
*.csv
*.sbatch
*.sh
*.png
*.txt

scripts/StatisticalResults/wikics.ipynb
